.projectButton{
    height: 150px;
    width: 200px;
    margin: 0 3% 3% 0;
    position: relative;
}

.projectButton i {
    position: absolute;
    left: 85%;
    top: 5px;
    font-size: 20px;
    z-index: 5;
}

.projText{
    font-size: 35px;
}

.header{
    background-color: black;
    height: 100px;
    margin-bottom: 20px;
}

#logo{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 250%;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
}

*{
    font-family: 'Ubuntu Condensed', sans-serif;
}

#projectName{
    font-size: 200%;
    padding: 20px 0 0 0;
    
}

#projectTiles{
    margin-bottom: 50px;
    margin-top: 30px;
    overflow-x: scroll;
    overflow-x: hidden;
    height: 200px;
    width: 100%;
}



